@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,300;0,600;1,300;1,600&display=swap');
#main {
    display: grid;
    margin:auto;
    min-height: 100vh;
    max-width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 15%
    10%
    1fr
    1fr
    10%;
    grid-template-areas: 
    "header" 
    "section" 
    "aside" 
    "footer";
    background-image: linear-gradient(to bottom, rgb(0, 0, 80), rgb(0, 0, 0));
}
  header {
    grid-area: header;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-areas: "box_icon" "menu";  
}

  .box_icon {
  width: 8rem ;
  height: 8rem;
  display: inline;
  justify-content: flex-start;
  }

  .menu, li {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 80);
    border-color: #ffffff;
    box-sizing: content-box;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding: 2px 0px 2px 0px;
    margin-bottom: 1.25rem;
    margin-top: 0%;
    text-align: center;
    align-self: center;
    justify-self: center;    
  }

  section {
    grid-area: tabla;
    background-color: rgb(40, 40, 83);
}

  .fixture{
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    background-color:rgb(60, 145, 214);
    color:rgb(0, 0, 0);
    font-family: 'Montserrat';
    font-weight: 600;
  }
  .titulo {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 700;
    font-style: bold;
    color: rgb(60, 145, 214);
  }
  
  .subtitulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #ffffff;
   }
  .subtitulo_2 {
    display: flex; 
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #efeef7; 
    box-sizing: content-box;
    box-shadow: 0 15px 25px rgba(0,0, 0,.6);
    border-radius: 10px;
    padding: 20px;
    background: rgb(0, 0, 80)
  }
  .parrafo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
    }
  section#contactoz {
    display: flex;
    }
  .caja_de_comentarios {
    width: 400px;
    padding: 40px 40px;
    background: rgb(0, 0, 80);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0, 0,.6);
    border-radius: 10px;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    transform: translate(-50%, 50%);
    margin-left: 50%;
    margin-top: 2%;
}
    
  .titulocaja {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
}
  .foto_shop {
  height: 30em;
  width: 24.375em;
  padding: 5px;
  object-fit: cover;
}
  
  aside {
    grid-area: noticias;
    width: 100%;
    height: 37.5rem;
}

  footer #pie {
    grid-area: footer;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
} 
  section#tienda_grid {
    display: grid;
    grid-template-columns: 1fr repeat(4);
    grid-template-rows: 1fr repeat(3);
    grid-area: 
    "item" "item" "item"
    "item" "item" "item"
    "item" "item" "item"
    "item" "item" "item";
}

/*desktop large*/
  @media only screen and (max-width: 1200px) {
  #main {
    font-size: 14px;
}
  }
/*tablet*/
  @media only screen and (max-width: 768px) {
  #main {
    font-size: 12px;
}
  }
/*mobile*/
  @media only screen and (max-width: 576px) {
  #main {
    font-size: 10px;
  }
  /*.mob_menu {
    display: flex-end;
    text-align: right;
  }*/
}