@import "_variables";


footer { 
    grid-area: footer;
  }
  
  table { 
    grid-area: section;
  }
  
  aside { 
    grid-area: aside;
  }
  
  header { 
    grid-area: header;
  } 
#main {
    display: grid;
    margin:auto;
    min-height: 100vh;
    max-width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 15%
    10%
    1fr
    1fr
    10%;
    grid-template-areas: 
    "header" 
    "section" 
    "aside" 
    "footer"
}
menu, li, nav {
    display: inline;
    color: map-get($fuentes, fuente_alt);
    background-color: map-get($fondos, fondo_menu);
    font-weight: 600;
    text-align: center;
    align-self: center;
    justify-self: center;
}

li:hover {
    background-color: #fff;
}
h1 {
 color: map-get($fuentes, fuente_titulos);
}
h3 {
    color: map-get($fuentes, fuente_alt);
}
.h4 { 
    color: map-get($fuentes, fuente_alt);
}
h5 {
    color: map-get($fuentes, fuente_principal)
}
#mi_tiendita {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0,0,80);
    @include fondo;
        .tiendita {
            width: 100%;
            justify-content: center;
            align-items: center;
            margin: 50px 0;
            .container {
                border: none;
            }
    }

.col {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.4s;
    background-color: map-get($fondos, fondo_tarjeta );
    &:hover {
        box-shadow: 0 3px 6px  (0,0,0,0.16), 0 3px 6px rgba (0,0,0,0.23);
        transition: 2s;
        transform: scale( 1.1, 1.1);}
} 
}
.tien_img {
    width: 200px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 20px
}

@mixin border {
    border: 1px solid;
    border-color: #000000;
    border-radius: 20px;
}

button {
    text-align: center;
    font-size: 1.5rem;
    color: map-get($fuentes, fuente_esp);
    font-weight: 600;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 20px;
    @include border;
    background-color: $boton_1;
    &:hover {
    background-color: $boton_2   }
}
footer, #pie {
        position: sticky;
        bottom: 0;
        justify-content: space-between;
        float: right
    } 

#main_mod {
    @include fondo;
}
.texto {
    background-color: white;
}
/*desktop large*/
@media only screen and (max-width: 1200px) {
    #main {
      font-size: 14px;
  }
}
  /*tablet*/
@media only screen and (max-width: 768px) {
    #main {
      font-size: 12px;
  }
  .col {
        width: 60%;
    }
    .robot {
        display: none;
    }
    #main_index {
        display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
    .video {
            grid-area: 1/1/2/2;
        width: 100%;}
    .notadeldia {
            grid-area: 2/1/3/2;
        width: 100%;}
    .notadeldia2 {
            grid-area: 3/1/4/2;
        width: 100%;}
    }
}
  /*mobile*/
@media only screen and (max-width: 576px) {
    #main {
      font-size: 10px;
    }
    .col {
        width: 100%;
    }
    .robot {
        display: none;
    }
  }
@mixin border {
    border: 2px solid black
    
}
.oferta { 
    @extend .h4;
    color:#02105c;
    background-color: #db511a;
    border-radius: 90px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.btn_compra {
    @include border;
}
.icon_menu {
    display: inline;
    width: 3rem;
    height: 3rem;}
.nosotrosss{
    display: flex;
    background-color: rgba(255, 255, 255, 0.616);
    .texto { 
        margin: 50px;
        padding: 20px;
        width: 50%;
        .cuadro { 
            background-color: rgba(128, 128, 128, 0.534);
            border: 1px solid black;
            padding: 20px;
            margin: 50px;}
        }
    .imagen2{
            padding: 10px;
            padding-top: 50px;
            margin-top: 150px;
            width: 40%;
            height: 600px;
            background-image: url(../img/nos2.jpg);
            }    
}
.coments{
    display: grid;
    grid-template-columns: 2, 1fr;
    grid-template-rows: 1;
    justify-content: space-around;
    align-items: center;

}
.caja_de_comentarios {
    box-sizing: border-box;
    background-color: map-get($fondos, fondo_container);
    margin: 40px 40px;
    padding: 30px;
    width: 400px;
    grid-area: 1/1/2/3;
    #name_formu{
        color: map-get($fuentes, fuente_alt );
    .boton_enviar {
        color: map-get($fuentes, fuente_subtitulos );
        background-color: $boton_1;
        border-radius: 20px;
    }
    }
}
.robot {
    grid-area: 1/2/2/3;
}
    
  .titulocaja {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
}
#acad_conta {
   display: flex;
   flex-wrap: wrap;

}
.acad_info {
    grid-area: acad_info;
    box-sizing:border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.22);
    background-color:map-get($fondos, fondo_caja );
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    width: 630px;
}
.sub_ac {
    color: map-get($fuentes, fuente_alt );
}
.video {
    grid-area: video;
    box-sizing:border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.22);
    background-color:map-get($fondos, fondo_caja );
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    grid-area: 1 / 1 / 3 / 3; 
}
.notadeldia {
    grid-area: notadeldia;
    box-sizing:border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.22);
    background-color:map-get($fondos, fondo_caja );
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    grid-area: 1 / 3 / 2 / 4;
}
.notadeldia2 {
    grid-area: notadeldia;
    box-sizing:border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.22);
    background-color:map-get($fondos, fondo_caja );
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    grid-area: 2 / 3 / 3 / 4;
}
#main_index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 0px;
    justify-content: space-around;
    }
