#main {
  display: grid;
  margin: auto;
  min-height: 100vh;
  max-width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 15% 10% 1fr 1fr 10%;
  grid-template-areas: "header"  "section"  "aside"  "footer";
}

menu, li, nav {
  display: inline;
  color: #fff;
  background-color: #0887f1;
  font-weight: 600;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.icon_menu {
  display: inline;
  width: 3rem;
  height: 3rem;
}

li:hover {
  background-color: #fff;
}

h1 {
  color: #0887f0;
}

h3 {
  color: #fff;
}

.h4, .oferta {
  color: #fff;
}

h5 {
  color: #000000;
}

#mi_tiendita {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000050;
}

#mi_tiendita .tiendita {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

#mi_tiendita .tiendita .container {
  border: none;
}

.col {
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
  background-color: #4b89bd;
}

.col:hover {
  box-shadow: 0 3px 6px 0, 0, 0, 0.16, 0 3px 6px rgba 0, 0, 0, 0.23;
  transform: scale(2 2);
}

img {
  width: 200px;
  height: 300px;
  text-align: center;
  margin: 0 auto;
  display: block;
  border-radius: 20px;
}

button {
  text-align: center;
  font-size: 1.5rem;
  color: #f79400;
  font-weight: 600;
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
  border-radius: 20px;
  background-color: #4a08e2;
  /*desktop large*/
  /*tablet*/
  /*mobile*/
}

button:hover {
  background-color: #db511a;
}

@media only screen and (max-width: 1200px) {
  button #main {
    font-size: 14px;
  }
  button .col {
    width: 45%;
  }
}

@media only screen and (max-width: 768px) {
  button #main {
    font-size: 12px;
  }
  button .col {
    width: 60%;
  }
}

@media only screen and (max-width: 576px) {
  button #main {
    font-size: 10px;
  }
  button .col {
    width: 100%;
  }
}

.oferta {
  color: #02105c;
  background-color: #db511a;
  border-radius: 90px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btn_compra {
  border: 1px solid;
  border-color: #000000;
  border-radius: 20px;
}
